/* Grandle */

.gran_wrap {
  position: relative;
  min-height: 570px;
  height: auto;
  background: url(http://greyvoth.com/A24/anim/gran_bg.png) no-repeat;
  overflow: hidden;
  padding: 0;
}

.gran_wrap .sub_wrap {
	position: relative !important;
}

.gran_head {
  width: 287px;
  height: 321px;
  top: 0;
  left: 170px;
  background: url(http://greyvoth.com/A24/anim/gran-anim/gran-head.png) no-repeat;
}

.gran_torso {
  width: 487px;
  height: 608px;
  top: 85px;
  left: 100px;
  background: url(http://greyvoth.com/A24/anim/gran-anim/gran-torso.png) no-repeat;
}

.gran_l_arm {
  width: 700px;
  height: 516px;
  top: 35px;
  left: -50px;
  background: url(http://greyvoth.com/A24/anim/gran-anim/gran-arm-l.png) no-repeat;
}

.gran_r_arm_1 {
  width: 141px;
  height: 284px;
  top: 213px;
  left: 330px;
  background: url(http://greyvoth.com/A24/anim/gran-anim/gran-arm-r-1.png) no-repeat;
}

.gran_r_arm_2 {
  width: 244px;
  height: 497px;
  top: 50px;
  left: 340px;
  background: url(http://greyvoth.com/A24/anim/gran-anim/gran-arm-r-2.png) no-repeat;
}

.gran_legs {
  width: 428px;
  height: 89px;
  top: 500px;
  left: 88px;
  background: url(http://greyvoth.com/A24/anim/gran-anim/gran-legs.png) no-repeat;
}

.bg_1 {
  width: 802px;
  height: 802px;
  top: 0;
  left: 0;
  background: url(http://greyvoth.com/A24/anim/gran_bg.png) no-repeat;
}

.gvm_logo_nu {
  width: 563px;
  height: 456px;
  top: 0;
  left: 0;
  background: url(http://greyvoth.com/A24/anim/gvm_logo.png) no-repeat;
}

.gvm_sign {
  width: 486px;
  height: 409px;
  top: 0;
  left: 0;
  background: url(http://greyvoth.com/A24/anim/sign.png) no-repeat;
}

.gran_wrap > div > div {
  opacity: 1;
  position: absolute;
  scale: 60%;
}

/* Grandle */

.updwn {
    -webkit-animation-name: updwn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;

    -moz-animation-name: updwn;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
	
    animation-name: updwn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes updwn {
    from {
		-webkit-transform:translate(0, 0);
		-moz-transform:translate(0, 0);
		transform:translate(0, 0);
	} 65% {
		-webkit-transform:translate(0, 3px);
		-moz-transform:translate(0, 3px);
		transform:translate(0, 3px); 
	} to {
		-webkit-transform:translate(0, 0);
		-moz-transform:translate(0, 0);
		transform:translate(0, 0);
	}    
}

.z {
  z-index: -1;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.z-6 {
  z-index: 6;
}

.z-7 {
  z-index: 7;
}

.z-8 {
  z-index: 8;
}

.z-9 {
  z-index: 9;
}

.z-10 {
  z-index: 10;
}
