.splash-container {
  position: relative;
  text-align: center;
  border-bottom: solid 5px #9c1c1e;
}

.splash-container.oran {
	border-bottom: solid 5px #e88b23;
}

.splash-title {
  font-size: 1.5rem;
  font-weight: bold;
/*  text-transform: uppercase;*/
/*  margin-top: 20px;*/
/*  margin-bottom: 20px;*/
}

.splash-title span {
	float: left;
    width: 100%;
    margin: 8px 0;
    color: #00612d;
    text-transform: uppercase;
}

.book-cover {
  width: 320px;
  max-width: 100%;
  border: solid 3px #fff;
  transition: transform 0.3s ease-in-out;
}

.book-cover:hover {
  transform: scale(1.05);
}

.character {
  max-width: 100%;
  height: auto;
}

.cta-button {
  display: inline-block;
/*  margin-top: 20px;*/
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #d9534f;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #b52b27;
  color: #fff;
}

.fade-in {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay-text {
  font-size: 1.3rem;
  font-style: italic;
  opacity: 0.8;
}
