<!-- Nav tabs -->

  <ul class="nav nav-tabs nav-justified" role="tablist">

	  

    <li class="nav-item">

		

      <a class="nav-link active" data-toggle="tab" href="#gr"><icon class="fas fa-chess-bishop"></icon> Grāives</a>

		

    </li>



<!--

	<li class="nav-item">

		

      <a class="nav-link" data-toggle="tab" href="#char"><icon class="fas fa-chess-knight"></icon> Characters</a>

		

    </li>

	  

    <li class="nav-item">

		

      <a class="nav-link" data-toggle="tab" href="#world"><icon class="fas fa-chess-rook"></icon> World</a>

		

    </li>

-->

	  

  </ul>



  <!-- Tab panes -->



  <div class="tab-content">

  

    <div id="gr" class="container-fluid tab-pane active"><br/>

		

      <h2 class="text-center">Grāives</h2>

		

      <p class="text-center">The power types and combat styles of the characters from GVM</p>



<div class="row">





  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img class="rott_r_2" src="../A19/icon-ani-gra-1.png" />

    <img src="../A19/icon-ani-gra-2.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Grāivoth</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img src="../A19/icon-ani-hero-1.png" />

    <img class="animated pulse infinite" src="../A19/icon-ani-hero-2.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Hero Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img src="../A19/icon-ani-ant-1.png" />

    <img class="animated pulse infinite" src="../A19/icon-ani-ant-2.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Ant Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img class="animated pulse slow infinite" src="../A19/icon-ani-chim-1.png" />

    <img class="animated pulse fast infinite" src="../A19/icon-ani-chim-2.png" />

    <img src="../A19/icon-ani-chim-3.png" />

    <img src="../A19/icon-ani-chim-4.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Chimera Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img src="../A19/icon-ani-master-1.png" />

    <img class="animated pulse infinite" src="../A19/icon-ani-master-2.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Master Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img class="rott_l_1" src="../A19/icon-ani-chain-1.png" />

    <img src="../A19/icon-ani-chain-2.png" />

    <img src="../A19/icon-ani-chain-3.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Chain Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img class="rott_r_2" src="../A19/icon-ani-fire-1.png" />

    <img class="rott_l_1" src="../A19/icon-ani-fire-2.png" />

    <img class="rott_r_2" src="../A19/icon-ani-fire-3.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Hell Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img src="../A19/icon-ani-earth-1.png" />

    <img class="rott_l_1" src="../A19/icon-ani-earth-2.png" />

    <img class="rott_l_1" src="../A19/icon-ani-earth-3.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Earth Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img class="" src="../A19/icon-ani-wrath-1.png" />

    <img class="animated tada infinite" src="../A19/icon-ani-wrath-2.png" />

    <img class="" src="../A19/icon-ani-wrath-3.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Wraithful Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img src="../A19/icon-ani-wise-1.png" />

    <img class="animated pulse faster infinite" src="../A19/icon-ani-wise-2.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Wise Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img src="../A19/icon-ani-loose-1.png" />

    <img class="animated pulse slower infinite" src="../A19/icon-ani-loose-2.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Loose Grāive</div>

  </div>



  <div class="col-sm-6 col-md-4 col-lg-3 ani_wrap">

    <img class="animated pulse slow infinite" src="../A19/icon-ani-dec-1.png" />

    <img class="animated pulse faster infinite" src="../A19/icon-ani-dec-2.png" />

    <img src="../A19/icon-ani-dec-3.png" />

    <img src="../A19/icon-ani-dec-4.png" />

    <img src="../A19/icon-ani-over.png" />

    <div>

      <img class="beegee" src="../A19/icon-ani-bg.png" />

    </div>

	<div class="sub_header">Decietful Grāive</div>

  </div>

	

	

	

	

	

	

	

	

	

	

<!-- -- -->

	

<!--

<div ng-controller="portItemController" class="kcontainer1">

    <div class="row nill">

      <div class="itm item col-sm-6 col-md-4 col-lg-2 grip_wrap gonzo" ng-repeat="port1Item in port1Items">

        <div class="grip_hang_topp"></div>

        <div class="col grip">

          <h3>{{ port1Item.name }}</h3>

          <a title="{{ port1Item.desc }}" class="fancybox zero" rel="gallery1" href="{{ port1Item.img }}">

      <img alt="{{ port1Item.desc }}" src="{{ port1Item.img }}" />

      </a>

          <div class="col coat2 truncate bleww">{{ port1Item.desc }}</div>

        </div>

        <div class="grip_hang_bott"></div>

      </div>

    </div>

</div>

-->

	

<!-- -- -->



</div>

</div>



<div id="char" class="container-fluid tab-pane fade"><br/>

      <h2 class="text-center">Characters</h2>

      <p class="text-center">Details about your favorite characters from GVM</p>



<div class="row">

	

Two

	

<!-- -- -->


<div ng-controller="portItemController" class="kcontainer">

    <div class="row nill">

      <div class="itm item col-sm-6 col-md-4 col-lg-2 grip_wrap gonzo" ng-repeat="port2Item in port2Items">

        <div class="grip_hang_topp"></div>

        <div class="col grip">

          <h3>{{ port2Item.name }}</h3>

          <a title="{{ port2Item.desc }}" class="fancybox zero" rel="gallery1" href="{{ port2Item.img }}">

      <img alt="{{ portItem.desc }}" src="{{ port2Item.img }}" />

      </a>

          <div class="col coat2 truncate bleww">{{ port2Item.desc }}</div>

        </div>

        <div class="grip_hang_bott"></div>

      </div>

    </div>

</div>


<!-- -- -->

	

</div>

	

<!-- -- -->



</div>

	  

<div id="world" class="container-fluid tab-pane fade"><br/>

      <h2 class="text-center">World</h2>

      <p class="text-center">The world of GVM</p>



<div class="row">

	

Three

	

<!-- -- -->




<div ng-controller="portItemController" class="kcontainer">

    <div class="row nill">

      <div class="itm item col-sm-6 col-md-4 col-lg-2 grip_wrap gonzo" ng-repeat="portItem in portItems">

        <div class="grip_hang_topp"></div>

        <div class="col grip">

          <h3>{{ portItem.name }}</h3>

          <a title="{{ portItem.desc }}" class="fancybox zero" rel="gallery1" href="{{ portItem.img }}">

      <img alt="{{ portItem.desc }}" src="{{ portItem.img }}" />

      </a>

          <div class="col coat2 truncate bleww">{{ portItem.desc }}</div>

        </div>

        <div class="grip_hang_bott"></div>

      </div>

    </div>


</div>

	

<!-- -- -->

	

</div>

	

<!-- -- -->



</div>

</div>